/*******************************************************************************
 Add your custom css styles here
 *******************************************************************************/
.custom-inner p {
  font-size: 18px;
}

a {
  color: #FBC1AE;
}

.fixed-title:after {
  background: #FBC1AE;
}

@media only screen and  (max-width: 540px) {
/*.show-share {
	display: none;
  }*/

  .mob-bg {
  	display:none;
  }


/* .background-video {
  width: 100%;
}*/
}

/** Old color: #FF4F4F **/
/** Apricot: #FBC1AE **/
/** Another pink: #eb6357 **/
